<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="SmartMe.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <SmartMe.Web.Properties.Settings>
            <setting name="CrawlerTimeout" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="CrawlerUserAgent" serializeAs="String">
                <value>Mozilla/4.0 (compatible; MSIE 8.0; Windows NT 5.1; Trident/4.0; .NET CLR 2.0.50727; .NET CLR 3.0.04506.648; .NET CLR 3.5.21022)</value>
            </setting>
            <setting name="CrawlerRetryTimes" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="CrawlerRetryTimeoutInc" serializeAs="String">
                <value>2000</value>
            </setting>
            <setting name="GoogleSearchEngineQueryFormat" serializeAs="String">
                <value>http://www.google.com/search?q={0}</value>
            </setting>
            <setting name="GoogleSearchEngineEncoding" serializeAs="String">
                <value>utf-8</value>
            </setting>
            <setting name="BaiduSearchEngineQueryFormat" serializeAs="String">
                <value>http://www.baidu.com/s?wd={0}</value>
            </setting>
            <setting name="BaiduSearchEngineEncoding" serializeAs="String">
                <value>gb2312</value>
            </setting>
            <setting name="SogouSearchEngineQueryFormat" serializeAs="String">
                <value>http://www.sogou.com/web?query={0}</value>
            </setting>
            <setting name="SogouSearchEngineEncoding" serializeAs="String">
                <value>gb2312</value>
            </setting>
            <setting name="WikipediaSearchEngineQueryFormat" serializeAs="String">
                <value>http://en.wikipedia.org/w/index.php?title=Special:Search&amp;fulltext=Search&amp;search={0}</value>
            </setting>
            <setting name="WikipediaSearchEngineEncoding" serializeAs="String">
                <value>utf-8</value>
            </setting>
            <setting name="DictCnQueryFormat" serializeAs="String">
                <value>http://dict.cn/search?q={0}</value>
            </setting>
            <setting name="DictCnEncoding" serializeAs="String">
                <value>gb2312</value>
            </setting>
            <setting name="GoogleSuggestionQueryFormat" serializeAs="String">
                <value>http://suggestqueries.google.cn/complete/search?q={0}</value>
            </setting>
            <setting name="BaiduSuggestionQueryFormat" serializeAs="String">
                <value>http://suggestion.baidu.com/su?action=opensearch&amp;ie=gb2312&amp;from=ie8&amp;wd={0}"</value>
            </setting>
        </SmartMe.Web.Properties.Settings>
    </userSettings>
</configuration>